<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.studyme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StudyMode.StudyMultipleChoiceActivity"/>
        <activity android:name=".Authentication.LoginActivity"/>
        <activity android:name=".Authentication.RegisterActivity"/>
        <activity android:name=".Profile.ProfileActivity"/>
        <activity android:name=".Files.EditFileActivity" />
        <activity android:name=".Authentication.ForgotPasswordActivity" />
        <activity android:name=".Files.NewFileActivity" />
        <activity android:name=".Home.HomeActivity" />
        <activity android:name=".QuizMode.QuizMultipleChoiceActivity" />
        <activity android:name=".QuizMode.QuizTextActivity"/>
        <activity android:name=".StudyMode.StudyTextActivity"/>
        <activity android:name=".StudyMode.StudyTrueOrFalseActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>